// Basically copying the structure for commands but for settings
/*
const path = require('path');
const databaseproxy = require(path.normalize("..//databases/databaseproxy.js"));

module.exports = {
    name: "settingnamehere",
    guildonly: false,
    aliases: ["alias1","alias2"],
    description: "Description of what the setting modifies",
    form: "Information for the user on what to give as an argument",
    async execute(client, message, args) {
        // whatever the setting has to run/modify
    },
}
*/