/* If database access if required
const path = require('path')
const databaseproxy = require(path.normalize("..//databases/databaseproxy.js"));
*/

// cooldown is in seconds as an {Integer} or "none" as a {string}

/*
module.exports = {
    name: "commandnamehere",
    cooldown: 2,
    guildonly: false,
    aliases: ["alias1","alias2"],
    description: "Description of what the command does",
    async execute(client, message, args) {
        // whatever the command does
    },
}
*/

/* If you need to find the modrole
// Gets the moderator role for the server
const modrole = await databaseproxy.get(message.guild.id, "modrole");
if (!message.member.roles.cache.some(r => [modrole].includes(r.name)))
            return message.reply("Sorry, you don't have permissions to use this!");
*/
